= @connectee.first_name + ','
\
= @connecter.name + ' has requested to connect, lucky you.'
\
= link_to "Login", user_home_url(@connectee)
  to accept (or reject) this request. Remember: connections power trellisd!
\
Cheers,
\
trellisd