%p
  = @connectee.first_name + ','

%p
  = @connecter.name + ' has requested to connect, lucky you.'

%p
  = link_to "Login", user_home_url(@connectee)
  to accept (or reject) this request. Remember: connections power trellisd!

%p
  Cheers,
%p
  = image_tag attachments['trellisd_email_image'].url, alt: 'trellisd'
