%p
  = @connectee.first_name + ','

%p
  = @connecter.name + ' wants to connect, lucky you.'

%p
  = link_to "Login", "http://www.trellisd.com" + user_home_path(@connectee)
  to accept (or reject) this request. Remember: connections power trellisd!

%p
  Cheers,
%p
  = image_tag attachments['trellisd_email_image.png'].url, alt: 'trellisd'
