%p
  = @connectee.first_name + ','

%p
  = @connecter.name + ' wants to connect, lucky you.'

%p
  = link_to "Login", "http://www.trellisd.com" + user_home_path(@connectee)
  to accept (or reject) this request. Remember: connections power trellisd!

%p
  Cheers,
%p
  = render 'trellisd_logo'
