<p>Hello <%= @resource.first_name %>!</p>

<p>Looks like you may have forgotten your trellisd password.  If you need to reset it, click <%= link_to 'here', edit_password_url(@resource, reset_password_token: @token) %>.</p>

<p>If you didn't make this request, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p>
<p>Cheers,</p>
<p><%= image_tag attachments['trellisd_email_image.png'].url, alt: 'trellisd' %></p>