table {
  border-collapse: collapse;
  margin: ($base-line-height / 2) 0 0 0;
  table-layout: fixed;
  width: 100%;
  background-color: #FFF;
  border-radius: $inner_box_border_radius;
}

th {
  border-left: $table_border_arguments;
  font-weight: bold;
  padding: ($base-line-height / 2) 3px;
  text-align: left;
  &.sub_header {
    padding: ($base-line-height / 2) 10px;
  }
  &.top_border {
    border-top: $table_border_arguments;
  }
  &:first-child {
    border-left: none;
  }  
}

td {
  border-left: 2px solid $trellisd_fill;
  padding: ($base-line-height / 2) 10px;
  &:first-child {
    border-left: none;
  };
}

tr, td, th {
  vertical-align: middle;
}
