#new_matches.notifications_subset
  .heading
    %h5 Posts with Recent Matches
  .content
    - posts.each do |post|
      .post_listing
        = link_to truncate(post.title, length: 35, separator: ' '), post_path(post)