- connections.each do |connection|
  .connection_listing
    .connecter_name
      = link_to connection.connecter.name, user_path(connection.connecter)
    .connection_buttons
      = display_connection_buttons(connection.connecter)