#new_matches.notifications_subset
  .heading
    %h5 Posts with Recent Matches
  .content
    = posts_with_recent_matches
#new_connections.notifications_subset
  .heading
    %h5 Requested Connections
  .content
    = display_pending_received_connections
#new_messages.notifications_subset
  .heading
    %h5 Latest Unread Messages
  .content
    = display_latest_unviewed_messages
