#new_matches
  .heading
    %h5 Posts with Recent Matches
  .content
    - posts_with_recent_matches.each do |post|
      .post_listing
        = link_to truncate(post.title, length: 35, separator: ' '), user_post_path(post.user_id, post)
#new_connections
  .heading
    %h5 Requested Connections
  .content
    - current_user.pending_received_connections.each do |connection|
      .connection_listing
        .connecter_name
          = link_to connection.connecter.name, user_path(connection.connecter)
        .connection_buttons
          = display_connection_buttons(connection.connecter)
#new_messages