.display_user_box
  .user_image
    = image_tag user.image.url(:thumb)
  .user_info
    .user_name
      %h5
        = link_to user.name, user_path(user)
    .connect_button
      = button_to "Connect", user_home_path(current_user), method: :get