= content_for :title, 'About'
%h2.text_highlight About
%h3 The Problem
%p
  You are looking for a job. You ask your friend if she knows of anything. Chances are she doesn't.  You ask her to pass the message along to anyone who might know of something. Chances are she won't--not because she does not want to help, but because her friends and connections have not shared that information with her. Or she tells the wrong people. It's a shame, too, because she knows someone who knows someone hiring for a role for which you would be perfect.  She just doesn't know that.
%p
  A friend of yours posts on Facebook that he has a spare room to rent. Another friend of yours posts on Facebook that he is looking for a room to rent.  These guys are not Facebook friends, so they don't see each other's status. Fortunately, they have you in common and you can put them in touch.  Unfortunately (for them), you've been off on a kayaking trip all week and haven't checked Facebook.  By the time you do, one or both posts have been swept from your feed and, with them, any chance of your friends being saved from the swampscapes of Craisglist and Gumtree; you don't find out about your friends' mutually compatible interests until months later, at a house party--you laugh at the coincidence, but you're the only one who does.
%h3 A Solution
%p
  trellisd attempts to solve this problem.  Users post on trellisd what they are after.  Posts run around users' networks, finding matching posts.
%p
  If you had posted that you were looking for a job on trellisd and if your friend's friend's friend posted that role for which she was hiring on trellisd, those posts would find each other*, your friend's ignorance not stymying your professional trajectory.
%p
  And if your Facebook friends had used trellisd, they might be happily living together, giving you would have more time to spend kayaking because you spend less time traveling all over town to see your friends, all without having done a thing but joined trellisd.  That's 
  = link_to "win-win-win", "http://bcove.me/midbciea"
  \ (not an endorsement of the "Washington Examiner").
%h3 Social leveraging, not social networking
%p
  trellisd is not Twitter or Facebook, nor is does it want to be.  trellisd is not another social networking app (well, it does need you to connect with other users to be of value, and you do have a profile and profile pic, and messaging, and a newsfeed, but that's really where the similarities end). trellisd is a tool that exists to help you leverage the strength of your ties, weak and strong.
%br
%p
  *No guarantees, but feel free to check out 
  = link_to 'How It Works', page_path('how')
  \.