#categories_bar {
  @include row(table);
  text-align: center;
  #all_posts_icon {
    background-color: $category_background_base;
    width: 95px;
    height: 95px;
    border-radius: 50px;
    display: inline-block;
    vertical-align: top;
    #icon_text {
      font-size: 30px;
      font-weight: bold;
      padding-top: 17px;
      text-align: center;
      color: $category_foreground_base;
    }
    &:hover {
      background-color: $category_background_fill;
      #icon_text {
        color: $category_foreground_fill;
      }
    }
  }
}