.keyword_coverage {
  background-color: $category_background_fill;
  width: 57px;
  height: 57px;
  border-radius: 30px;
  display: inline-block;
  vertical-align: top;
  .figure {
    font-size: 20px;
    font-weight: bold;
    padding-top: 14px;
    text-align: center;
    color: $category_foreground_fill;
  }
}