.message_box {
  border-radius: $display_box_border_radius;
  &.not_new_messsage {
    background-color: $display_box_normal_background_color;
  }
  &.new_message {
    background-color: $unviewed_message_background_color;
  }
  margin: $display_box_margin;
  padding: $display_box_padding;
  @include clearfix;
  .message_box_content {
    @include span-columns(4);
    vertical-align: top;
  }
  .message_box_actions {
    @include span-columns(2);
    text-align: right;
    vertical-align: top;
    form {
      margin: 5px 0;
    }
  }
}