#notifications {
  @include row(table);
  background-color: #FFF;
  border-radius: $inner_box_border_radius;
  margin-top: 10px;
  .notifications_subset {
    border-bottom: $table_border_arguments;
    &:last-child {
      border-bottom: none;
    }
  }
  .heading {
    padding: ($base-line-height / 2) 3px;
    margin-bottom: -20px;
  }
  .content {
    padding: ($base-line-height / 2) 10px;
    .post_listing {
      @include row(table);
    }
    .connection_listing {
      @include row(table);
      padding-bottom: 5px;
      .connecter_name {
        @include span-columns (2 of 4);
      }
      .connection_buttons {
        @include span-columns (2 of 4);
        font-size: $base-font-size * .65;
        form {
          display: inline-block;
        }
      }
    }
  }
  #new_matches {
    @include row(table);
  }
  #new_connections {
    @include row(table);
  }
  #new_messages {
    @include row(table);
  }
}