.general_post_display_style {
  border-radius: $display_box_border_radius;
  &.normal {
    background-color: $display_box_normal_background_color;
  }
  &.matching_post {
    background-color: $display_box_matching_background_color;
  }
  margin: $display_box_margin;
  padding: $display_box_padding;
  @include clearfix;
}

.post_box {
  @extend .general_post_display_style;
  .post_box_image {
    @include span-columns(1);
    img {
      border-radius: $thumb_img_border_radius;
      @include media($mobile) {
        display: none;
      }
    }
  }
  .post_box_content {
    @include span-columns(4);
    vertical-align: top;
    .impending_expiration {
      font-weight: bold;
      color: $impending_expiration_color;
    }
  }
  .post_box_icons {
    @include span-columns(2);
    text-align: right;
    vertical-align: middle;
  }
}

.profile_post_box {
  @extend .general_post_display_style;
  .profile_post_box_content {
    @include span-columns(5);
    vertical-align: top;
    @include media($mobile) {
      @include row(table);
      margin-bottom: 10px;
    }
  }
  .profile_post_box_icons {
    @include span-columns(1);
    padding-left: 5px;
    @include media($mobile) {
      @include row(table);
    }
  }
  .profile_post_box_buttons{
    vertical-align: top;
    @include span-columns(1);
    form {
      margin: 5px 0;
    }
    @include media($mobile) {
      .not_delete_buttons {
        @include row(table);
      }
      .delete_buttons {
        @include row(table);
      }
      form {
        display: inline-block;
        margin: 5px;
      }
    }
  }
}

.show_post {
  @extend .general_post_display_style;
  .show_post_headline {
    margin-bottom: 10px;
    .show_post_category {
      @include span-columns(1 of 7);
      @include media($mobile) {
        @include row(table);
      }
    }
    .show_post_title {
      @include span-columns(6 of 7);
      padding-left: 20px;
      vertical-align: middle;
      @include media($mobile) {
        @include row(table);
        padding-left: 0px;
        color: $rich_blue;
      }
    }
  }
  .show_post_user, .show_post_content, .show_post_keywords {
    margin-bottom: 10px;
  }
}



