.post_box {
  border-radius: 20px;
  background-color: $post_box_background_color;
  margin: 10px 0;
  padding: 10px;
  @include clearfix;
  .post_box_image {
    @include span-columns(2 of 7);
    img {
      border-radius: 10px;
    }
  }
  .post_box_content {
    @include span-columns(3 of 7);
    @include shift(-1);
    padding-left: 20px;
    margin-right: 80px;
  }
  .post_box_icons {
    @include span-columns(2 of 7);
  }
}