#posts_index {
  @include row(table);
  li.block {
    @include span-columns(4);
    @include omega(4n);
    .posts_index_post_box {
      @extend .general_post_display_style;
      .posts_index_post_box_content {
        @include span-columns(4 of 4);
        vertical-align: top;
        .impending_expiration {
          @extend .general_impending_expiration;
        }
        @include media($mobile) {
          @include row(table);
          margin-bottom: 10px;
        }
      }
      .posts_index_extras {
        .posts_index_post_box_icons {
          @include span-columns(1);
          padding-left: 5px;
          @include media($mobile) {
            @include row(table);
          }
        }
        .posts_index_post_box_buttons{
          vertical-align: top;
          @include span-columns(1);
          form {
            margin: 5px 0;
          }
        }
      }
    }
  }
}