.profile.user_profile {
  border-radius: $display_box_border_radius;
  background-color: $display_box_profile_background_color;
  margin: $display_box_margin;
  padding: $display_box_padding;
  .user_image {
    @include span-columns(2 of 7);
    img {
      border-radius: $normal_img_border_radius;
    }
    @include media($mobile){
      @include row(table);
    }
  }
  .user_info {
    vertical-align: top;
    @include span-columns(4 of 7);
    h2 {
      color: white;
    }
  }
}