.alternative_display_box {
  border-radius: $display_box_border_radius;
  background-color: $display_box_profile_background_color;
  margin: $display_box_margin;
  padding: $display_box_padding;
}

.settings {
  @include span-columns (6 of 7);
  .settings_row {
    @extend h5;
    @include row(table);
    margin-bottom: 10px;
    padding: 5px 0;
    .left, .right {
      vertical-align: middle;
      @include span-columns(3 of 6);
      @include media($mobile) {
        @include row(table);
      }
      &.narrow {
        @include span-columns(2 of 6);
      }
      &.wide {
        @include span-columns(4 of 6);
        @include media($mobile) {
          overflow: scroll;
        }
      }
    }
    .right {
      @include shift(1);
      @include media($mobile) {
        @include shift();
      }
    }
    border-bottom: 2px solid $background_color;
    &:last-child {
      border-bottom: none;
    }
  } 
  .user_profile {
    @extend .alternative_display_box;
    .user_image {
      img {
        border-radius: $normal_img_border_radius;
      }
    }
    .user_info {
      vertical-align: top;
      @include span-columns(4 of 6);
      h2 {
        color: white;
      }
    }
  }

  .edit_account {
    @extend .alternative_display_box;
    padding: 10px;
  }
}