svg {
  &.trellisd_icon {
    fill: $trellisd_fill;
    stroke: $trellisd_stroke;
  }
  &.category_icon {
    .icon_background {
      fill: $category_background_fill;
    }
    .icon_foreground {
      fill: $category_foreground_fill;
    }
  }
  display: inline-block;
}

#categories_bar svg {
  &.category_icon {
    &.inactive_posts_index_category {
      .icon_background {
        fill: $category_background_base;
      }
      .icon_foreground {
        fill: $category_foreground_base;
      }
    }
    &.active_posts_index_category {
      .icon_background {
        fill: $category_background_fill;
      }
      .icon_foreground {
        fill: $category_foreground_fill;
      }
    }
    &:hover {
      .icon_background {
        fill: $category_background_fill;
      }
      .icon_foreground {
        fill: $category_foreground_fill;
      }
    }
  }
  display: inline-block;
}