.user_display_general {
  border-radius: $display_box_border_radius;
  background-color: $display_box_profile_background_color;
  margin: $display_box_margin;
  padding: $display_box_padding;
}

.profile.user_profile {
  @extend .user_display_general;
  .user_image {
    @include span-columns(2 of 7);
    img {
      border-radius: $normal_img_border_radius;
    }
    @include media($mobile){
      @include row(table);
    }
  }
  .user_info {
    vertical-align: top;
    @include span-columns(4 of 7);
    h2 {
      color: white;
    }
  }
  .user_flag_button {
    float: right;
  }
}

#users {
  @include media($mobile) {
    @inlcude span-columns(10 of 12);
  }
  .display_user_box {
    max-width: 270px;
    height: 150px;
    display: inline-block;
    @extend .user_display_general;
    margin: 5px 20px; // to override the user_display_general
    @include media($mobile) {
      max-width: auto;
      font-size: 12px;
      min-height: 150px;
    }
    .user_info {
      @include row(table);
      .user_image {
        @include span-columns(1 of 2);
        img {
          border-radius: $thumb_img_border_radius;
        }
      }
      .user_name {
        @include span-columns(1 of 2);
        vertical-align: top;
      }
    }
    .connections_buttons {
      vertical-align: top;
      text-align: right;
      form {
        display: inline-block;
        @include media($mobile) {
          @include row(table);
          margin-bottom: 5px;
        }
      }
      @include media($mobile) {
        margin-top: -20px;
        font-size: 12px;
      }
    }
  }
}
