#pages_layout_content {
  @include span-columns(12);
  @include media($mobile) {
    @include span-columns(12);
  }
  #left_column {
    @include span-columns(4 of 12);
    @include media($mobile) {
      display: none;
    }
  }
  #right_column {
    text-align: justify;
    @include span-columns(8 of 12);
    @include media($mobile) {
      @include span-columns(10);
      @include shift(1);
      .push {
        display: none;
      }
    }
    #pages_text {
      @include media($medium-screen) {
        max-height: 400px;
        overflow: scroll;
      }
    }
  }
  h1 {
    @include media($mobile) {
      font-size: $base-font-size * 4;
    }
  }
  ul.example_colors {
    li {
      border-radius: 5px;
      height: 35px;
      width: 100px;
      margin: 10px 10px 10px 0;
      padding: 5px;
      text-align: center;
      &.normal_color {
      background-color: $display_box_normal_background_color;
      }
      &.matching_color {
        background-color: $display_box_matching_background_color;
      }
      &.pdq_color {
        background-color: $display_box_pdq_background_color;
      }
    }
  }
}





  